<md-dialog aria-label="Comparison for HSBC" ng-controller="BarChartCtrl">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Comparison for Other Products</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="images/ic_cancel_white_48px.svg" style="font-size:36px;" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content >
      <div class="md-dialog-content">
        <h2>Currency-Linked Deposit</h2>
        <p>
          Deposit Plus is a deposit investment for a fixed period of time with a fixed interest rate for the duration of the deposit.
        </p>
        <p>
          Upon maturity, you can receive the deposit and the interest in either deposit currency or linked currency.
        </p>
        <br/>
        <!-- style="width: 100%; height: 400px; margin: 0 auto" -->
        <!-- <div layout="row"> -->
          <div id="barContainer" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <!-- </div> -->
        <br/>
        <!--
        <div layout="row">
          <md-card flex>
            <div class="md-toolbar-tools">
              <span>HSBC</span>
            </div>
            <md-content>
              <md-list class="md-dense" flex>
                <md-subheader class="md-no-sticky">Return</md-subheader>
                <md-list-item class="md-3-line" >
                <div class="md-list-item-text" layout="column">
                <h3>Good</h3>
                </div>
                </md-list-item>
                <md-list-item class="md-3-line" >
                <div class="md-list-item-text" layout="column">
                <h3>Good</h3>
                </div>
                </md-list-item>
                <md-list-item class="md-3-line" >
                <div class="md-list-item-text" layout="column">
                <h3>Good</h3>
                </div>
                </md-list-item>
              </md-list>
            </md-content>
          </md-card>
          <md-card flex>
            <div class="md-toolbar-tools">
              <span>BOC</span>
            </div>
            <md-list class="md-dense" flex>
              <md-subheader class="md-no-sticky">Return</md-subheader>
              <md-list-item class="md-3-line" >
              <div class="md-list-item-text" layout="column">
              <h3>Bad</h3>
              </div>
              </md-list-item>
              <md-list-item class="md-3-line" >
              <div class="md-list-item-text" layout="column">
              <h3>Bad</h3>
              </div>
              </md-list-item>
              <md-list-item class="md-3-line" >
              <div class="md-list-item-text" layout="column">
              <h3>Bad</h3>
              </div>
              </md-list-item>
            </md-list>
          </md-card>
          <md-card flex>
            <div class="md-toolbar-tools">
              <span>Standard Charter</span>
            </div>
            <md-list class="md-dense" flex>
              <md-subheader class="md-no-sticky">Return</md-subheader>
              <md-list-item class="md-3-line" >
              <div class="md-list-item-text" layout="column">
              <h3>Bad</h3>
              </div>
              </md-list-item>
              <md-list-item class="md-3-line" >
              <div class="md-list-item-text" layout="column">
              <h3>Bad</h3>
              </div>
              </md-list-item>
              <md-list-item class="md-3-line" >
              <div class="md-list-item-text" layout="column">
              <h3>Bad</h3>
              </div>
              </md-list-item>
            </md-list>
          </md-card>
          <md-card flex>
            <div class="md-toolbar-tools">
              <span>Citi</span>
            </div>
            <md-list class="md-dense" flex>
              <md-subheader class="md-no-sticky">Return</md-subheader>
              <md-list-item class="md-3-line" >
              <div class="md-list-item-text" layout="column">
              <h3>Bad</h3>
              </div>
              </md-list-item>
              <md-list-item class="md-3-line" >
              <div class="md-list-item-text" layout="column">
              <h3>Bad</h3>
              </div>
              </md-list-item>
              <md-list-item class="md-3-line" >
              <div class="md-list-item-text" layout="column">
              <h3>Bad</h3>
              </div>
              </md-list-item>
            </md-list>
          </md-card>
          <md-card flex>
            <div class="md-toolbar-tools">
              <span>Hang Seng</span>
            </div>
            <md-list class="md-dense" flex>
              <md-subheader class="md-no-sticky">Return</md-subheader>
              <md-list-item class="md-3-line" >
              <div class="md-list-item-text" layout="column">
              <h3>Good</h3>
              </div>
              </md-list-item>
              <md-list-item class="md-3-line" >
              <div class="md-list-item-text" layout="column">
              <h3>Good</h3>
              </div>
              </md-list-item>
              <md-list-item class="md-3-line" >
              <div class="md-list-item-text" layout="column">
              <h3>Good</h3>
              </div>
              </md-list-item>
            </md-list>
          </md-card>
        </div> -->
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" >
      <md-button href="https://www.hsbc.com.hk/personal/investments/structured-products.html" target="_blank" md-autofocus>
        More Products
      </md-button>
      <span flex></span>
      <md-button ng-click="" class="md-primary">
       Contact our Agents
      </md-button>
      <md-button ng-click="" class="md-primary">
        Print PDF
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
