<md-card>
<div style="height:400px" class="container" id="video" ng-controller="SubheaderAppCtrl" layout="column" flex layout-fill ng-cloak>
  <md-toolbar >
    <div class="md-toolbar-tools" style="background-color:navy;color:white">Reference Link</div>
  </md-toolbar>

  <md-content md-theme="altTheme">

    <section>
      <md-subheader style="font-size:16px" class="md-warn">Information Links</md-subheader>
      <md-list layout="column">
        <md-list-item class="md-3-line" ng-repeat="message in infolinks" ng-href="{{message.link}}">
          <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
          <div class="md-list-item-text">
            <h3>{{message.what}}</h3>
            <h4>{{message.who}}</h4>
            <p>
              {{message.notes}}
            </p>
          </div>
        </md-list-item>
      </md-list>
    </section>

    <section>
      <md-subheader style="font-size:16px" class="md-accent">Market Data</md-subheader>
      <md-list layout="column">
        <md-list-item class="md-3-line" ng-repeat="message in datalinks" ng-href="{{message.link}}">
          <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
          <div class="md-list-item-text">
            <h3>{{message.what}}</h3>
            <h4>{{message.who}}</h4>
            <p>
              {{message.notes}}
            </p>
          </div>
        </md-list-item>
      </md-list>
    </section>

    <section>
      <md-subheader style="font-size:16px" class="md-primary">Videos</md-subheader>
      <md-list ng-controller="videoCtrl">
        <md-list-item class="md-3-line" ng-repeat="message in videos" ng-click="showAdvanced($event, message.link)">
            <img ng-src="{{message.face}}" class="md-avatar" alt="{{message.who}}">
            <div class="md-list-item-text">
              <h3>{{message.what}}</h3>
              <h4>{{message.who}}</h4>
              <p>
                {{message.notes}}
              </p>
            </div>
        </md-list-item>
        <md-list-item class="secondary-button-padding">
          <p>Check out a full list of our videos and learn more about our products</p>
          <md-button class="md-secondary" href="two">Here</md-button>
        </md-list-item>
      </md-list>
    </section>

  </md-content>
</div>
</md-card>
