<div class="row">
    <div class="col-md-6">
<form class="form-inline" align="center">
    <div class="form-group">
    Currency Pair: <input style="width:200px" type="text" class="form-control" ng-model="currency" placeholder="AUD/HKD"><br><br>
    Deposit Amount: <input style="width:200px" type="text" class="form-control" ng-model="currency" placeholder="AUD/HKD"><br><br>
    Trade Date: <input style="width:200px" type="text" class="form-control" ng-model="currency" placeholder="AUD/HKD"><br><br>
    Maturity Date: <input style="width:200px" type="text" class="form-control" ng-model="currency" placeholder="AUD/HKD"><br><br>
    Interest rate:
    </div>
</form>
</div>
</div>
