<div layout="column" ng-cloak>
<md-card>
<md-toolbar style="background: #ffffff; color:#757575" class="md-table-mtoolbar md-default">
  <div class="md-toolbar-tools" md-border-bottom>
    <span>Contract Information</span>
    <md-button class="md-icon-button">
      <md-icon>filter_list</md-icon>
    </md-button>
  </div>
</md-toolbar>

<!-- exact table from live demo -->
<md-table-container >
  <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
    <thead md-head md-order="query.order" md-on-reorder="getDesserts">
      <tr md-row class="md-row">
        <th md-column >
          <md-checkbox aria-label="Select All" >
            <!-- ng-click="toggleAll()" ng-checked="allSelected()" ng-disabled="!getSelectableRows().length" role="checkbox" tabindex="0" aria-disabled="false" class="" -->
            <!-- <div class="md-container md-ink-ripple" md-ink-ripple="" md-ink-ripple-checkbox="">
              <div class="md-icon"></div>
            </div>
            <div ng-transclude="" class="md-label"></div> -->
          </md-checkbox>
        </th>
        <th md-column md-order-by="nameToLower"><span>Dessert (100g serving)</span></th>
        <th md-column md-numeric md-order-by="calories.value"><span>Calories</span></th>
        <th md-column md-numeric>Terms</th>
        <th md-column md-numeric>Value</th>
        <th md-column md-numeric>Terms</th>
        <th md-column md-numeric>Value</th>
      </tr>
    </thead>
    <tbody md-body>
      <!--  -->
      <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="dessert in desserts.data">
        <td md-cell>{{}}</td>
        <td md-cell>{{}}</td>
        <td md-cell>{{dessert.fat.value | number: 1}}</td>
        <td md-cell>{{dessert.carbs.value}}</td>
        <td md-cell>{{dessert.protein.value | number: 1}}</td>
        <td md-cell>{{dessert.sodium.value}}</td>
        <td md-cell>{{dessert.calcium.value}}{{dessert.calcium.unit}}</td>
        <td md-cell>{{dessert.iron.value}}{{dessert.iron.unit}}</td>
      </tr>
    </tbody>
  </table>
</md-table-container>

<md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{desserts.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>
</md-card>
</div>
