<!-- <span ng-controller="DatepickerDemoCtrl"> -->
    <span layout-gt-xs="row">
    <span flex-gt-xs="">
      <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date" md-open-on-focus=""></md-datepicker>
    </span>
    </span>
    <!-- <input style="width:30%;text-align: center" class="form-control" type="text" value="{{dt | date:'dd-MM-yyyy' }}" disabled/>
    <button popover-placement="{{placement.selected}}" type="button" class="btn btn-default" aria-label="Calender" uib-popover-template="calendar.html">
    <!-- <button type="button" class="btn btn-default" aria-label="Calender" ng-click="showme=!showme"> -->
        <!-- <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
    </button>

    <div ng-model="date">
      <datepicker show-weeks="false"></datepicker>
    </div> -->
    <!-- <div ng-init="showmw=false" ng-show="showme">
        <div style="height:50%;width:50%" uib-datepicker ng-model="dt"  datepicker-options="options"></div>
    </div> -->


<!-- class="well well-sm" -->
    <!-- <hr /> -->
    <!-- <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
    <button type="button" class="btn btn-sm btn-default" ng-click="setDate(2009, 7, 24)">2009-08-24</button>
    <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
    <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" uib-tooltip="After today restriction">Min date</button> -->
<!-- </span> -->
