.full button span {
   background-color: limegreen;
   border-radius: 32px;
   color: black;
 }
 .partially button span {
   background-color: orange;
   border-radius: 32px;
   color: black;
 }
/*#f6f6f6*/
.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1;}
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }
